body {
  background-color: beige;
}

input,
button {
  padding: 5px;
}

input {
  width: 150px;
}

#box {
  margin-top: 30px;
  position: relative;
}

.ball {
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  position: absolute;
}


